/* .gardener-card {
  background: linear-gradient(45deg, #059669, #064e3b); */
  /* background: linear-gradient(to right, #10b981, #065f46); */
  /* background: linear-gradient(to right, #22c55e, #15803d);
  background: linear-gradient(135deg, #10b981, #065f46); */
/* } */

.gardener-card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}